{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">The Great fashion</h1>
      <p>
      The Great fashion is a Online clothes store,which is founded by Abhishek, users can buy the clothes online in this store.we provide many special offers and discounts for our customers
      The customer is at the heart of our unique business model, which includes design, production, distribution and sales through our extensive retail network.
.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Opportuntiies</h2>
        <p>
        
        From selling globally to locally, from making money on your site to expanding your business, The Great Fashion has a lot of opportuntiies for you to explore.Across India, there are thousands of sellers,  and businesses using Our products and services to reach new customers, build and grow their businesses.
        
         </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Built the future</h2>
        <p> We strive to have a positive impact on customers, employees, small businesses, the economy, and communities. People who work here are smart, passionate builders with different backgrounds and goals, who share a common desire to always be learning and inventing on behalf of our customers.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Work </h2>
        <p>
If you're an inventor, you love to build and be part of high performance teams who are passionate about operational excellence.. From day one at The Great fashion, you'll take ownership of projects that have a direct impact on our customers. You'll love being the part of our team!.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
